body {
    background: white;
    /* I think this can lock the window swipped up and down */
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 1.5rem calc((100vw - 1200px) / 2);
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* User name and Date */
.page-info {
    padding-left: 10px;
}
.page-info h1 {
    font-size: 1.6rem;
}
.page-info h2 {
    font-size: 1.4rem;
}

/* Top Buttons */
.top-buttons {
    align-self: center;
    text-align: end;
    padding-right: 3.5rem;
}
#home-btn {
    font-size: 1.1rem;
    padding: 12px 30px;
    margin-right: 30px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    background-color: lightgoldenrodyellow;
}
#signout-btn {
    font-size: 1.1rem;
    padding: 12px 24px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    background-color: lightgray;
}

/* Horizontal Line */
#hr_line {
    background: black;
    font-size: small;
}

/* Option Inputs */
.option-inputs {
    margin-top: 50px;
}
.option-inputs h1 {
    text-align: center;
    font-size: 1.4rem;
}

/* Date Select Box */
.date-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.date-input h1 {
    font-size: 1.3rem;
    padding-right: 15px;
}
details {
	position: relative;
	width: 300px;
}
details[open] {
	z-index: 1;
}
/* Display Summary List */
summary {
	padding: 1rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: #ddd;
	list-style: none;
}
/* Diaply Icons */
summary:after {
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}
/* Icon POint Down */
details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}
/* Item List */
ul {
	width: 100%;
	background: #ddd;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
}
/* Each Items Colunm */
li {
	margin: 0;
	padding: 1rem 0;
    list-style: none;
	border-bottom: 1px solid #ccc;
}
/* Adjust the height of item lists */
li:first-child {
	padding-top: 0;
}
li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
/* Radio Box Tracking Behind Title */
input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}
input[type=radio]:checked {
	display: inline;
	--display: block;
}
input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}
/* Display chosen item on main box */
label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}
label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}

/* Time Input */
.time-input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.time-input h1 {
    font-size: 1.3rem;
    padding-right: 14px;
}

/* Next Button */
.next-btn {
    display: flex;
    justify-content: end;
    width: 70%;
    margin-top: 50px;
}
#next-button {
    font-size: 1.1rem;
    padding: 10px 30px;
    background-color: lightgreen;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
}