
html, body {
    background: #585858;
    font-family: "Kaisei Tokumin", Sans-Serif;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    width: auto;
}



.wrapper{
    height:100%;
    width: 100%;
    position: sticky;
    display: grid;
    grid-template-rows: 125px auto 90px;
}

/* User Info & Phone and Take Out buttons */
.page-container {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    background-color: #343434;
    border-radius: 20px;
    padding: 10px;
    color: #c3c3c3;
    align-self: flex-start;
}


.page-container button{
    margin-top: 4px;
}
.page-info h1{
    font-size: 1rem;
}
.page-info h2{
    font-size: 0.8rem;
    /* padding: 3px; */
}
.page-buttons {
    align-self: right;
    text-align: end;
    margin-top: 10px;
}
#phone-button {
    background-color: gold;
    padding: 8px 35px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
}
#phone-button:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }

#takeout-button {
    background-color: ivory;
    padding: 8px 28px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
}

#takeout-button:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }

#scrollable{
    grid-row:2;
    flex: 1;
    overflow:auto;
    overflow-y: scroll;
    position:relative;
    height: 93%;
    margin-top: 10px;
}


/* Table Box*/

.table_num {
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
    margin: 5px;
}

.table{
    flex: 1;
    border: 1px;
    border-style: solid;
    background-color: rgb(248, 248, 187);
    height: 90px;
}
.add-view{
    text-align: center;
    margin-top: 10px;
}
.update-button{
    background-color:lightcoral;
    padding: 10px 12px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
}
.update-button:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }
.add-button{
    background-color: lightcyan;
    padding: 10px 21px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
}
.add-button:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }
/* Tabel-1 and Table-2 */

.table1and2 {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    max-height: 100%;
}
#table2 {
    margin-left: 10px;
}

/* Table-3 and Table-4 */
.table3and4 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    overflow-y: scroll;
    max-height: 100%;
}
#table4 {
    margin-left: 10px;
}

/* Table-5 and Table-6 */
.table5and6 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    overflow-y: scroll;
    max-height: 100%;
}
#table6 {
    margin-left: 10px;
}

/* Table-7 and Table-8 */
.table7and8 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    overflow-y: scroll;
    max-height: 100%;
}
#table8 {
    margin-left: 10px;
}

/* Take Out and Phone Box */
.done-view{
    text-align: center;
    margin-top: 10px;
}
.update-view{
    text-align: center;
    margin-top: 10px;
}
.done-button{
    background-color: lightgreen;
    padding: 10px 19px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
}
.view-button{
    background-color: lightcyan;
    padding: 10px 18px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
}
.take-update-button{
    background-color:lightcoral;
    padding: 10px 12px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
}


/* Take Out and Phone Box - 1 row*/
.extra_container{
    margin-top: 10px;
    display: flex;
    overflow-y: scroll;
    max-height: 100%;
}

.extra_container2{
    margin-top: 10px;
    display: flex;
    overflow-y: scroll;
    max-height: 100%;
} 

.extra_container3{
    margin-top: 10px;
    display: flex;
    overflow-y: scroll;
    max-height: 100%;
} 
.extra_container4{
    margin-top: 10px;
    display: flex;
    overflow-y: scroll;
    max-height: 100%;
} 

.extra_phone{
    flex: 1;
    border: 1px;
    border-style: solid;
    background-color: gold;
    height: 90px;

    
}
.extra_takeout{
    flex: 1;
    border: 1px;
    border-style: solid;
    background-color: ivory;
    height: 90px;
}


/* Tabel-1 and Table-2 */
.ex1 {
    display: flex;
    flex-direction: row;
    width: 49%;
}

.ex2 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    width: 49%;
}

/* Table-3 and Table-4 */
.ex3 {
    display: flex;
    flex-direction: row;
    width: 49%;
}

.ex4{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    width: 49%;
}

/* Table-5 and Table-6 */
.ex5 {
    display: flex;
    flex-direction: row;
    width: 49%;
}
.ex6 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    width: 49%;
}

/* Table-7 and Table-8 */
.ex7 {
    display: flex;
    flex-direction: row;
    width: 49%;
}
.ex8 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    width: 49%;
}


/* Display: 0; does not do anything else
width: none; does not do anything as well */

/* Close btn and Sign Out btn */
#footer{
    grid-row: 3;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 20px;
    align-self: flex-end;
}


.btn-container {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #343434;
    border-radius: 20px;
    padding: 10px;
    color: #c3c3c3;
    text-align: center;
}

#signout-btn{
    padding: 20px 0px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    background-color: lightskyblue;
    width: 65.5px;
    height: 100%;
    margin: auto;
    text-align: center;


}
#signout-btn:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }
  
#order-btn{
    padding: 20px 0px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    background-color: lightgreen;
    width: 65.5px;
    height: 100%;
    text-align: center;
}
#order-btn:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
}  
#void-btn{
    padding: 20px 0px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    background-color: lightpink;
    width: 65.5px;
    height: 100%;
}
#void-btn:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }
#close-btn{
    padding: 20px 0px;
    background-color: rgb(238, 38, 38);
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    width: 65.5px;
    height: 100%;
}
#close-btn:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }

/* I gotta consider the different screen size */
/* UpdateBtn Modal */
.updateBtn-modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal-content-updateBtn {
    background: #f4f4f4;
    margin: 40% auto;
    width: 90%;
    height: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0, 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}
.close-btn-updateBtn {
    /* position: relative;
    display: flex;
    justify-content: end; */
    position: relative;
    margin-left: 19.3rem;
    top: 5px;
    height: 1px;
    font-size: 1.5rem;
    z-index: 1;
}
.close-btn-updateBtn:hover {
    cursor: pointer;
    color: var(--brightred);
    transition: 0.2s ease-out;
}

/* UpdateBtn Modal inside */
.table-updateBox {
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3.2rem 5.5rem 3.5rem 4.5rem;
}
.table-updateBox h1 {
    font-size: 1.5rem;
}

/* updateBtn modal inside */
.customerCheck {
    display: flex;
    justify-content: center;
}
.customerCheck h1{
    font-size: 1rem;   
    align-self: center;
}
#counter {
    font-size: 1rem;
}
#button_wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 15px;
}
#button_wrapper button {
    border: none;
    outline: none; 
    background-color: white;
    box-shadow: 0px 0px 10px lightgrey;
    font-weight: bold;
    font-size: 1.3rem; 
    color: inherit;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
#button_decrease:hover,
#button_increase:hover {
    background-color: lightgreen;
}
#button_decrease:active,
#button_increase:active {
    transform: scale(0.9);
}

/* updateBtn modal inside (switch table) */
.table-switch {
    display: flex;
    justify-content: center;
}
.table-switch h1{
    font-size: 1rem;
    align-self: center;
}
#s-counter {
    font-size: 1rem;
    margin-left: -8px;
}
#s-button_wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 15px;
}
#s-button_wrapper button {
    border: none;
    outline: none; 
    background-color: white;
    box-shadow: 0px 0px 10px lightgrey;
    font-weight: bold;
    font-size: 1.3rem; 
    color: inherit;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
#s-button_decrease:hover,
#s-button_increase:hover {
    background-color: lightgreen;
}
#s-button_decrease:active,
#s-button_increase:active {
    transform: scale(0.9);
}

/* Cancel & Confirm Button */
.button-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin-top: 50px;
}
#cancel-btn {
    font-size: 1rem;
    padding: 8px 18px;
    border-radius: 5px;
    border-width: 2.5px;
    border-color: black;
    background-color: lightcoral;
}
#confirm-btn {
    font-size: 1rem;
    padding: 8px 18px;
    border-radius: 5px;
    border-width: 2.5px;
    border-color: black;
    background-color: lightgreen;
}


/* AddBtn Modal */
.addBtn-modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal-content-addBtn {
    background: #f4f4f4;
    margin: 40% auto;
    width: 90%;
    height: 40%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0, 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}
.close-btn-addBtn {
    /* position: relative;
    display: flex;
    justify-content: end; */
    position: relative;
    margin-left: 19.3rem;
    top: 5px;
    height: 1px;
    font-size: 1.5rem;
    z-index: 1;
}
.close-btn-addBtn:hover {
    cursor: pointer;
    color: var(--brightred);
    transition: 0.2s ease-out;
}


/* UpdateBtn Modal Box */
.table-addBox {
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4rem 5rem 3.5rem;
}
.table-addBox h1 {
    font-size: 1.5rem;
}


/* AddBtn Modal Inside */
.customerCheck_add {
    display: flex;
    justify-content: center;
}
.customerCheck_add h1{
    font-size: 1rem;   
    align-self: center;
}
#add_counter {
    font-size: 1rem;
}
#add_button_wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 15px;
}
#add_button_wrapper button {
    border: none;
    outline: none; 
    background-color: white;
    box-shadow: 0px 0px 10px lightgrey;
    font-weight: bold;
    font-size: 1.3rem; 
    color: inherit;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
#add_button_decrease:hover,
#add_button_increase:hover {
    background-color: lightgreen;
}
#add_button_decrease:active,
#add_button_increase:active {
    transform: scale(0.9);
}


/* Back & Next Button */
.add_button-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin-top: 50px;
}
#back-btn {
    font-size: 1rem;
    padding: 8px 20px;
    border-radius: 5px;
    border-width: 2.5px;
    border-color: black;
    background-color: lightcoral;
}
#next-btn {
    font-size: 1rem;
    padding: 8px 20px;
    border-radius: 5px;
    border-width: 2.5px;
    border-color: black;
    background-color: lightgreen;
}

/* Close btn modal */
.closeBtn-modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal-content-closeBtn {
    background: #f4f4f4;
    margin: 50% auto;
    width: 90%;
    height: 30%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0, 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}
.close-btn-closeBtn {
    /* position: relative;
    display: flex;
    justify-content: end; */
    position: relative;
    margin-left: 19.3rem;
    top: 5px;
    height: 1px;
    font-size: 1.5rem;
    z-index: 1;
}
.close-btn-closeBtn:hover {
    cursor: pointer;
    color: var(--brightred);
    transition: 0.2s ease-out;
}

/* CloseBtn Modal */
.table-closeBox {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4.5rem 2rem;
    margin-top: 20px;
}
.table-closeBox h1 {
    font-size: 1.05rem;
    text-align: center;
}

/* Yes and No Buttons */
.close_button-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-self: center;
}
#no-btn {
    font-size: 1rem;
    padding: 7px 25px;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    background-color: lightcoral;
}
#yes-btn {
    font-size: 1rem;
    padding: 7px 25px;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    background-color: lightgreen;
}

/* Order Btn Modal */
.scrollable-orders{
    flex: 1;
    height: 90%;
    overflow:auto;
    overflow-y: scroll;
    position:relative; 
    margin-top: 10px;
    margin-bottom: 5px;
 }

.orderBtn-modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal-content-orderBtn {
    background: #f4f4f4;
    margin: 5% auto;
    width: 90%;
    height: 90%;
    position: relative;
    border-radius: 5px;
    /* min-height: 500px; */
    overflow-y: scroll;
    overflow-x: hidden;
}
.close-btn-orderBtn {
    position: fixed;
    left: 85%;
    margin-top: 1%;
    font-size: 2rem;
    z-index: 30;
}
.close-btn-orderBtn:hover {
    cursor: pointer;
    color: var(--brightred);
    transition: 0.2s ease-out;
}


/* Order Modal Inside */
.orderBtn-textBox {
    position: fixed;
    text-align: center;
    width: 90%;
    height:80%;
    margin-top: 22%;
    font-size: 0.8rem;
    z-index: 20;
}
.orderBtn-title {
    position: fixed;
    text-align: center;
    font-family: "Kaisei Tokumin", Sans-Serif;
    background-color: lightgray;
    width: 90%;
    font-size: 0.8rem;
    padding: 5px 0;
    z-index: 20;
}

/* Order Modal Table */
.review-container table{
    width: 95%;
    height: 90%;
    margin-top: 1%;
    z-index: 10;
}

.review-container{
    display: flex;
    justify-content: center;
}

.reviewBox-header {
    height: 2.5rem;
    font-size: 1.1rem;

}

.reviewBox-container th {
    height: 2.5rem;
    font-size: 1.1rem;
}

#tableNum-row{
    width: 30%;
    background-color: lightsalmon;
}

#order-row {
    width: 70%;
}

/* .addedInfo-container th{
    height: 2rem;
    font-size: 1.1rem;
    background: lightcoral;
} */


@media (orientation: landscape){
    body{
        width: 98%;
    }
    /*Main Buttons only - ADD UPDATE CLOSE*/
    .updateBtn-modal {
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }
    .modal-content-updateBtn {
        background: #f4f4f4;
        margin: 2.5% 25%;
        width: 50%;
        height: 90%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0, 7px 20px 0 rgba(0, 0, 0, 0.2);
        position: relative;
    }
    .addBtn-modal {
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }
    .modal-content-addBtn {
        background: #f4f4f4;
        margin: 2.5% 25%;
        width: 50%;
        height: 90%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0, 7px 20px 0 rgba(0, 0, 0, 0.2);
        position: relative;
    }
    .closeBtn-modal {
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }
    .modal-content-closeBtn {
        background: #f4f4f4;
        margin: 12.5% 25%;
        width: 50%;
        height: 50%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0, 7px 20px 0 rgba(0, 0, 0, 0.2);
        position: relative;
    }

    .btn-container {
        display:grid;
        grid-auto-columns: 25%;
        grid-auto-flow: column;
        background-color: #343434;
        border-radius: 20px;
        padding: 10px;
        color: #c3c3c3;
        text-align: center;
    }
    
    #signout-btn{
        padding: 10px 0px;
        border-radius: 10px;
        border-width: 2.5px;
        border-color: black;
        background-color: lightskyblue;
        width: 90%;
        height: 100%;
        margin: auto;
        text-align: center; 
    }
    #signout-btn:active {
        box-shadow: none;
        transform: translateY(3px);
        opacity: 0.5;
      }
      
    #order-btn{
        padding: 10px 0px;
        border-radius: 10px;
        border-width: 2.5px;
        border-color: black;
        background-color: lightgreen;
        width: 90%;
        height: 100%;
        text-align: center;
    }
    #order-btn:active {
        box-shadow: none;
        transform: translateY(3px);
        opacity: 0.5;
    }  
    #void-btn{
        padding: 10px 0px;
        border-radius: 10px;
        border-width: 2.5px;
        border-color: black;
        background-color: lightpink;
        width: 90%;
        height: 100%;
    }
    #void-btn:active {
        box-shadow: none;
        transform: translateY(3px);
        opacity: 0.5;
      }
    #close-btn{
        padding: 10px 0px;
        background-color: rgb(238, 38, 38);
        border-radius: 10px;
        border-width: 2.5px;
        border-color: black;
        width: 90%;
        height: 100%;
    }
    #close-btn:active {
        box-shadow: none;
        transform: translateY(3px);
        opacity: 0.5;
      }
}