body {
    background: white;
    font-family: "Myriad Pro", 
    "Helvetica Neue", Helvetica, 
    Arial, Sans-Serif;
}

/* User Info & Phone and Take Out buttons */
.page-container {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    height: auto;
}

.page-container button{
    margin-top: 4px;
}

.page-info h1{
    font-size: 1rem;
}

.page-info h2{
    font-size: 0.8rem;
    /* padding: 3px; */
}

.page-buttons {
    align-self: center;
    text-align: end;
}

#phone-button {
    background-color: lightpink;
    padding: 10px 37px;
    border-radius: 10px;
}

#takeout-button {
    background-color: lightblue;
    padding: 10px 30px;
    border-radius: 10px;
}


/* Table Box*/
.table-container {
    margin-top: 10px;
}

.table_num {
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
    margin: 5px;
}

.table{
    flex: 1;
    border: 1px;
    border-style: solid;
    background-color: rgb(248, 248, 187);
    height: 90px;
}

.add-view{
    text-align: center;
    margin-top: 10px;
}

.update-button{
    background-color: lightcoral;
    padding: 10px 12px;
    border-radius: 10px;
}

.add-button{
    background-color: aqua;
    padding: 10px 21px;
    border-radius: 10px;
}

/* Tabel-1 and Table-2 */

.table1and2 {
    display: flex;
    flex-direction: row;
}

#table2 {
    margin-left: 10px;
}

/* Table-3 and Table-4 */
.table3and4 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#table4 {
    margin-left: 10px;
}

/* Table-5 and Table-6 */
.table5and6 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#table6 {
    margin-left: 10px;
}

/* Table-7 and Table-8 */
.table7and8 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#table8 {
    margin-left: 10px;
}

/* Take Out and Phone Box */
.done-view{
    text-align: center;
    margin-top: 10px;
}

.done-button{
    background-color: lightgreen;
    padding: 10px 18px;
    border-radius: 10px;
}

.view-button{
    background-color: lightblue;
    padding: 10px 18px;
    border-radius: 10px;
}

/* Take Out and Phone Box - 1 row*/
.togo-phone {
    width: none;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#colunm-2 {
    margin-left: 0px;
    display: none;
}

#colunm-1 {
    display: none;
}

/* Display: 0; does not do anything else
width: none; does not do anything as well */

/* Close btn and Sign Out btn */
.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signout-btn{
    text-align: center;
}
.signout-btn button{
    padding: 8px 15px;
    border-radius: 10px;
}

.close-btn {
    text-align: center;
}

.close-btn button{
    padding: 8px 20px;
    background-color: lightgray;
    border-radius: 10px;
}
