html, body {
    background: #585858;
    font-family: "Kaisei Tokumin", Sans-Serif;
}

.wrapper{
    height:100%;
    width: 96%;
    position: fixed;
    display: grid;
    grid-template-rows: 125px auto auto 90px;
}

/* User Info & Phone and Take Out buttons */
.page-container {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    background-color: #343434;
    border-radius: 20px;
    padding: 10px;
    color: #c3c3c3;
    align-self: flex-start;
}


.page-container button{
    margin-top: 4px;
}
.page-info h1{
    font-size: 1rem;
}
.page-info h2{
    font-size: 0.8rem;
    /* padding: 3px; */
}

/* Display: 0; does not do anything else
width: none; does not do anything as well */
.customer-orders{
    width:90%;
    height: 94%;
    padding: 5px;
    border-radius: 5px;
    border-width: 10px;
    border: 1px solid black;
    background-color: beige;
    margin:auto;
    flex: 1;
    overflow:auto;
    overflow-y: scroll;
    position:relative;
    grid-row:2;
}

.scrollable{
    
    height:88%;
    margin:auto;
    color: black;
    font-size: 20px;

    flex: 1;
    overflow:auto;
    overflow-y: scroll;
    position:relative;
}



.customer-orders-button {
    grid-row: 3;
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 0.1fr 1fr;
    border-radius: 20px;
    padding: 10px;
    color: #c3c3c3;
    margin: auto; 
}

#remove-btn{
    padding: 9px 16px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    background-color: lightpink;
    float: left;
}
#remove-btn:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }
#bill-btn{
    padding: 9px 21px;
    background-color: lightsalmon;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    float: right;
}
#bill-btn:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }


















/* Close btn and Sign Out btn */
#footer{
    grid-row: 4;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 20px;
    align-self: flex-end;
}


.btn-container {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    background-color: #343434;
    border-radius: 20px;
    padding: 10px;
    color: #c3c3c3;
}



#back-btn{
    padding: 9px 16px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    background-color: lightcoral;
    float: left;
}
#back-btn:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }
#done-btn{
    padding: 9px 21px;
    background-color: lightgreen;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    float: right;
}
#done-btn:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }
