html, body {
    background: #585858;
    font-family: "Kaisei Tokumin", Sans-Serif;
    position: fixed;
    height: 100%;
    width: 100%;
}

.wrapper{
    height:100%;
    width: 100%;
    display: grid;
    grid-template-rows: 125px auto 80px;
}

/* User Info*/
.page-container {
    grid-row: 1;
    display: grid;
    background-color: #343434;
    border-radius: 20px;
    padding: 10px;
    color: #c3c3c3;
    align-self: flex-start;
    margin-right: 15px;
}

.page-container button{
    margin-top: 4px;
}
.page-info h1{
    font-size: 1rem;
}
.page-info h2{
    font-size: 0.8rem;
    /* padding: 3px; */
}

/* Display: 0; does not do anything else
width: none; does not do anything as well */
.customer-orders{
    grid-row: 2;
    display: grid;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    border-width: 10px;
    background-color: #fffdd0;
    grid-template-columns: 100%;
    grid-template-rows: 88% 12%;
    border-width: 1.5px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
}

.customer-container{
    height: auto;

}

.scrollable{
    grid-row: 1;
    height: auto;
    color: black;
    font-size: 20px;
    overflow-y: scroll;
    position:relative; 
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.customer-orders-button {
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 95%;
    border-radius: 20px;
    padding: 10px;
    color: #c3c3c3;
    margin: auto;
    position: sticky;    
}

#remove-btn{
    padding: 9px 16px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    background-color: lightpink;
    float: left;
}
#remove-btn:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }
#bill-btn{
    padding: 9px 30px;
    background-color: lightsalmon;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    float: right;
}
#bill-btn:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }


/* Close btn and Sign Out btn */
#footer{
    grid-row: 3;
    margin-bottom: 20px;
    display: flex;
    margin-right: 15px;
}

.btn-container {
    display: flex;
    width: 100%;
    background-color: #343434;
    border-radius: 20px;
    padding: 10px;
    color: #c3c3c3;
    justify-content: space-between;
}

#back-btn{
    padding: 9px 16px;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    background-color: lightcoral;
    float: left;
    align-items: flex-start;
}
#back-btn:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }
#done-btn{
    padding: 9px 16px;
    background-color: lightgreen;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: black;
    float: right;
    align-items: flex-end;
}
#done-btn:active {
    box-shadow: none;
    transform: translateY(3px);
    opacity: 0.5;
  }
